.page-header
  %h1
    - if @team.league != nil
      .label.label-default= link_to @team.league.description_with_town, league_path(@team.league), :style => 'color: white;'
    - else
      .label.label-default= @team.town.name
    = @team.name

%p
  %b= 'Kapitan: '
  = link_to @team.captain.full_name, user_path(@team.captain)

.panel.panel-default
  .panel-heading
    .panel-title= 'Zawodnicy'
  .panel-body
    %table.table.table-striped
      %thead
        %tr
          %th= '#'
          %th= 'Gracz'
          %th= 'Pozycja'
          %th= 'Bramek'
          %th= 'Email'
          - if current_user.is_admin or current_user == @team.captain
            %th

      %tbody
        - @team.players.each_with_index do |player, i|
          %tr
            %td= i + 1
            %td= link_to player.full_name, user_path(player)
            %td= @position_name[player.position]
            %td= player.goals
            %td= player.email
            - if current_user.is_admin or current_user == @team.captain
              - if player == @team.captain
                %td= link_to 'Usuń z drużyny', {}, :class => 'btn btn-danger btn-xs disabled', :style => 'color: white;'
              - else
                %td= link_to 'Usuń z drużyny', {:controller => 'teams', :action => 'delete_from_team',
                                                            :player_id => player.id, :team => @team},
                                                            :method => :delete, :data => { :confirm => 'Jesteś pewny?' },
                                                            :class => 'btn btn-danger btn-xs', :style => 'color: white;'

- if current_user.is_admin
  = link_to 'Edytuj', edit_team_path(@team), :class => 'btn btn-default'
= link_to 'Wstecz', :back, :class => 'btn btn-default'