.page-header
  %h1
    - if @team.league != nil
      .label.label-default= link_to @team.league.description_with_town, league_path(@team.league), :style => 'color: white;'
    - else
      .label.label-default= @team.town.name
    = @team.name

%p
  %b= 'Kapitan: '
  = link_to @team.captain.full_name, user_path(@team.captain)

.panel.panel-default
  .panel-heading
    .panel-title= 'Zawodnicy'
  .panel-body
    %table.table.table-striped
      %thead
        %tr
          %th= '#'
          %th= 'Gracz'
          %th= 'Pozycja'
          %th= 'Bramek'
          %th= 'Email'
          - if current_user.is_admin or current_user == @team.captain
            %th

      %tbody
        - @team.players.each_with_index do |player, i|
          %tr
            %td= i + 1
            %td= link_to player.full_name, user_path(player)
            %td= @position_name[player.position]
            %td= player.goals
            %td= player.email
            - if current_user.is_admin or current_user == @team.captain
              - if player == @team.captain
                %td= link_to 'Usuń z drużyny', {}, :class => 'btn btn-danger btn-xs disabled', :style => 'color: white;'
              - else
                %td= link_to 'Usuń z drużyny', {:controller => 'teams', :action => 'delete_from_team',
                                                            :player_id => player.id, :team => @team},
                                                            :method => :delete, :data => { :confirm => 'Jesteś pewny?' },
                                                            :class => 'btn btn-danger btn-xs', :style => 'color: white;'

.invitation-form{style: 'display: none;'}
  %br
    = form_tag(:method => 'post', :controller => 'matches', :action => 'create_invitation') do
      .form-group
        = label_tag 'Data'
        .controls
          = text_field_tag :date, nil, class: 'form-control datepicker', style: 'width: 150px;'
      .form-group
        = label_tag 'Miejsce'
        .controls
          = text_field_tag :place, nil, class: 'form-control'
          = hidden_field_tag :sender_id, current_user.team.id
          = hidden_field_tag :receiver_id, @team.id

      .actions
        = submit_tag 'Zaproponuj', :class => 'btn btn-success', :style => 'color: white;'

- if current_user.team == nil and current_user.town == @team.town
  = link_to 'Aplikuj', {:controller => 'invitations', :action => 'create', :user_id => current_user.id, :team_id => @team.id},
                                                  :method => :post, :class => 'btn btn-success', :style => 'color: white;'
- if current_user.team != nil and current_user.team.captain == current_user and current_user.team.league == @team.league and current_user.team != @team
  %button.btn.btn-success.invite{:style => 'color: white;', 'data-id' => @team.id}= 'Zaproponuj spotkanie'
- if current_user.is_admin
  = link_to 'Edytuj', edit_team_path(@team), :class => 'btn btn-default'