<div class="page-header">
  <h2>Edytuj konto</h2>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label 'Imię' %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="form-group">
    <%= f.label 'Nazwisko' %><br />
    <%= f.text_field :surname %>
  </div>

  <div class="form-group">
    <%= f.label 'Email' %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="form-group">
    <%= f.label 'Miasto' %><br />
    <%= f.collection_select :town_id, Town.all, :id, :name %>
  </div>

  <div class="form-group">
    <%= f.label 'Preferowana pozycja' %><br />
    <%= f.select :position, {'Bramkarz' => 'gk', 'Obrońca' => 'def', 'Pomocnik' => 'mid', 'Napastnik' => 'for'} %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label 'Hasło' %> <i>(zostaw puste jeśli nie chcesz zmieniać)</i><br />
    <%= f.password_field :password, autocomplete: 'off' %>
  </div>

  <div class="form-group">
    <%= f.label 'Potwierdź hasło' %><br />
    <%= f.password_field :password_confirmation, autocomplete: 'off' %>
  </div>

  <div class="form-group">
    <%= f.label 'Aktualne hasło' %> <i>(potrzebne do zatwierdzenia zmian)</i><br />
    <%= f.password_field :current_password, autocomplete: 'off' %>
  </div>

  <div class="actions">
    <%= f.submit 'Zapisz', :class => 'btn btn-primary', :style => 'color: white;' %>
    <%= link_to 'Wstecz', :back, :class => 'btn btn-default' %>
  </div>
<% end %>

<div class="page-header">
  <h3>Usuwanie konta</h3>
</div>

<p>Jesteś niezadowolony?
  <%= button_to 'Usuń konto', registration_path(resource_name), data: { confirm: 'Jesteś pewny?' }, method: :delete,
                                                                :class => 'btn btn-danger', :style => 'color: white;' %>
</p>
