<div class="page-header">
  <h2>Rejestracja</h2>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label 'Imię' %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="form-group">
    <%= f.label 'Nazwisko' %><br />
    <%= f.text_field :surname %>
  </div>

  <div class="form-group">
    <%= f.label 'Email' %><br />
    <%= f.email_field :email %>
  </div>

  <div class="form-group">
    <%= f.label 'Miasto' %><br />
    <%= f.collection_select :town_id, Town.all, :id, :name %>
  </div>

  <div class="form-group">
    <%= f.label 'Preferowana pozycja' %><br />
    <%= f.select :position, {'Bramkarz' => 'gk', 'Obrońca' => 'def', 'Pomocnik' => 'mid', 'Napastnik' => 'for'} %>
  </div>

  <div class="form-group">
    <%= f.label 'Hasło' %>
    <% if @validatable %>
    <em>(Przynajmniej <%= @minimum_password_length %> znaków)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: 'off' %>
  </div>

  <div class="form-group">
    <%= f.label 'Powtórz hasło' %><br />
    <%= f.password_field :password_confirmation, autocomplete: 'off' %>
  </div>

  <div class="actions">
    <%= f.submit 'Zarejestruj', :class => 'btn btn-primary', :style => 'color: white;' %>
  </div>
<% end %>

<br />
<div class="actions">
  <%= render "devise/shared/links" %>
</div>
