<div class="page-header">
  <h2>Rejestracja</h2>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label 'Imię' %><br />
    <div class="controls">
      <%= f.text_field :name, class: 'form-control', autofocus: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label 'Nazwisko' %><br />
    <div class="controls">
      <%= f.text_field :surname, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label 'Email' %><br />
    <div class="controls">
      <%= f.email_field :email, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label 'Miasto' %><br />
    <div class="controls">
      <%= f.collection_select :town_id, Town.all, :id, :name, {}, {class: 'selectpicker'} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label 'Preferowana pozycja' %><br />
    <div class="controls">
      <%= f.select :position, {'Bramkarz' => 'gk', 'Obrońca' => 'def', 'Pomocnik' => 'mid', 'Napastnik' => 'for'}, {},
                                                                                              {class: 'selectpicker'} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label 'Hasło' %>
    <div class="controls">
      <% if @validatable %>
      <em>(Przynajmniej <%= @minimum_password_length %> znaków)</em>
      <% end %><br />
      <%= f.password_field :password, class: 'form-control', autocomplete: 'off' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label 'Powtórz hasło' %><br />
    <div class="controls">
      <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: 'off' %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Zarejestruj', :class => 'btn btn-primary', :style => 'color: white;' %>
  </div>
<% end %>

<br />
<div class="actions">
  <%= render "devise/shared/links" %>
</div>
