= render 'shared/admin_panel'

%table.table.table-striped
  %thead
    %tr
      %th= 'Imię'
      %th= 'Nazwisko'
      %th= 'Email'
      %th= 'Pozycja'
      %th= 'Administrator'
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.surname
        %td= user.email
        %td= @position_name[user.position]
        %td
          = form_for user, :remote => true do |f|
            = f.check_box :is_admin, :class => 'submittable'
        %td
          = link_to 'Pokaż', user, :class => 'btn btn-default btn-xs'
          = link_to 'Edytuj', edit_user_path(user), :class => 'btn btn-default btn-xs'
          = link_to 'Usuń konto', user, :method => :delete, :data => { :confirm => 'Jesteś pewny?' },
                                                    :class => 'btn btn-danger btn-xs', :style => 'color: white;'
