.page-header
  %h1
    .label.label-default= @position_name[@user.position]
    = @user.full_name

%p
  %b= 'Email: '
  = @user.email
%p
  %b= 'Miasto: '
  = link_to @user.town.name, town_path(@user.town)
%p
  %b= 'Drużyna: '
  - if @user.team == nil
    = 'Nie przynależy'
  - else
    = link_to @user.team.name, team_path(@user.team)
    - if @user.team.league != nil
      = ' ('
      = link_to @user.team.league.description, league_path(@user.team.league)
      = ')'
%p
  %b= 'Bramki: '
  = @user.goals

- if current_user.town == @user.town and current_user.team != nil and current_user.team.captain == current_user and @user.team == nil
  = link_to 'Zaproś do drużyny', {:controller => 'invitations', :action => 'create',
                                  :user_id => @user.id, :team_id => current_user.team.id},
                                  :method => :post, :class => 'btn btn-success', :style => 'color: white;'
- if current_user.is_admin
  = link_to 'Edytuj', edit_user_path(@user), :class => 'btn btn-default'
= link_to 'Wstecz', :back, :class => 'btn btn-default'
