%ul.nav.nav-tabs
  - if current_page?(users_path)
    %li.active= link_to 'Użytkownicy', users_path
  - else
    %li= link_to 'Użytkownicy', users_path
  - if current_page?(towns_path)
    %li.active= link_to 'Miasta', towns_path
  - else
    %li= link_to 'Miasta', towns_path
  - if current_page?(leagues_path)
    %li.active= link_to 'Ligi', leagues_path
  - else
    %li= link_to 'Ligi', leagues_path
  - if current_page?(teams_path)
    %li.active= link_to 'Zespoły', teams_path
  - else
    %li= link_to 'Zespoły', teams_path
  - if current_page?(matches_path)
    %li.active= link_to 'Mecze', matches_path
  - else
    %li= link_to 'Mecze', matches_path

%br