.row
  .col-md-3
    <br /><br />
    = render 'shared/side_panel'
  .col-md-9
    .page-header
      %h1 Kontakt
    %p.lead{style: 'font-size: 19px; text-indent: 25px;'}
      = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae vulputate dolor. Morbi turpis orci, '
      = 'varius sit amet enim in, dapibus vestibulum neque. Nullam nec erat eros. Aenean at viverra felis, et laoreet '
      = 'turpis. Aenean eget ante et lectus rutrum consequat. Duis non ipsum eu augue varius pellentesque. Aliquam ut '
      = 'nisl eu lorem consequat ullamcorper. Fusce vel est semper, consequat elit vitae, euismod sapien. Vivamus '
      = 'ultricies sollicitudin lacus id elementum.'
    %p.lead{style: 'font-size: 15px; text-indent: 25px;'}
      In orci tortor, blandit at nunc vel, commodo tempus lacus. Nullam volutpat dui vel velit porta pharetra. Nunc in egestas nisl. Maecenas congue metus a eros accumsan pulvinar. In arcu sapien, tempus ut odio at, luctus dictum arcu. Quisque laoreet vulputate vulputate. Mauris iaculis nec nunc consequat dapibus. Donec vitae nibh nec ligula tincidunt euismod non et risus. Donec congue, nisi eget porta euismod, enim lectus ultricies mauris, eget ornare lacus mauris vitae dui. Pellentesque consectetur odio nec turpis feugiat molestie. Aenean molestie augue ipsum, nec mollis dui maximus in. Nulla placerat dolor velit, quis facilisis quam auctor et.
