.row
  .col-md-3
    <br /><br />
    = render 'shared/side_panel'
  .col-md-9
    .page-header
      %h1 Zasady
    %p.lead{style: 'font-size: 19px; text-indent: 25px;'}
      = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae vulputate dolor. Morbi turpis orci, '
      = 'varius sit amet enim in, dapibus vestibulum neque. Nullam nec erat eros. Aenean at viverra felis, et laoreet '
      = 'turpis. Aenean eget ante et lectus rutrum consequat. Duis non ipsum eu augue varius pellentesque. Aliquam ut '
      = 'nisl eu lorem consequat ullamcorper. Fusce vel est semper, consequat elit vitae, euismod sapien. Vivamus '
      = 'ultricies sollicitudin lacus id elementum.'
    %p.lead{style: 'font-size: 15px; text-indent: 25px;'}
      In orci tortor, blandit at nunc vel, commodo tempus lacus. Nullam volutpat dui vel velit porta pharetra. Nunc in egestas nisl. Maecenas congue metus a eros accumsan pulvinar. In arcu sapien, tempus ut odio at, luctus dictum arcu. Quisque laoreet vulputate vulputate. Mauris iaculis nec nunc consequat dapibus. Donec vitae nibh nec ligula tincidunt euismod non et risus. Donec congue, nisi eget porta euismod, enim lectus ultricies mauris, eget ornare lacus mauris vitae dui. Pellentesque consectetur odio nec turpis feugiat molestie. Aenean molestie augue ipsum, nec mollis dui maximus in. Nulla placerat dolor velit, quis facilisis quam auctor et.
    %p.lead{style: 'font-size: 15px; text-indent: 25px;'}
      Proin risus velit, vestibulum non semper et, finibus in nibh. Sed non lacus sed ligula tempor consequat. Aenean eget vestibulum turpis, at accumsan diam. Mauris vestibulum elit nec erat facilisis, at malesuada velit volutpat. Mauris non orci sapien. Nulla sed ornare felis. Donec ac arcu at nibh iaculis faucibus. Suspendisse tellus leo, malesuada ac dui ut, vulputate iaculis nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec aliquet, nibh vitae varius auctor, arcu dui dapibus risus, nec auctor odio est nec nisi. Cras et dolor eget enim ultrices mattis. Duis consequat dolor at tellus dapibus porta. Curabitur pharetra purus vitae leo porttitor, id tempus arcu imperdiet. Suspendisse efficitur nunc ut ex pretium, at elementum lacus tempus. Nulla et metus ipsum. Aliquam vehicula odio vel tellus vulputate, et finibus nunc faucibus.
    %p.lead{style: 'font-size: 15px; text-indent: 25px;'}
      Aenean eget ligula magna. Integer lobortis magna et cursus venenatis. Pellentesque tincidunt dictum ante a venenatis. Vestibulum mattis, ligula et malesuada condimentum, ligula enim pellentesque neque, ut malesuada tellus erat finibus lorem. Duis quis ipsum tellus. Maecenas hendrerit, neque elementum molestie lacinia, metus dui vehicula sem, nec dapibus magna arcu et turpis. Aenean velit quam, rutrum ac diam at, lacinia commodo elit.
    %p.lead{style: 'font-size: 15px; text-indent: 25px;'}
      Cras ornare dui diam, eu accumsan tellus vulputate quis. Maecenas accumsan lacus at mi aliquam, sed pulvinar tellus dictum. Nam sit amet nisi tristique, consectetur diam ut, vehicula felis. Nunc hendrerit sit amet orci eu blandit. Donec vitae erat nunc. Morbi consectetur nibh urna, et faucibus magna dictum et. Vestibulum quis justo eu nisl facilisis ultricies ac at tellus. Maecenas a augue mauris. Donec ac nibh in leo volutpat ornare. Morbi ullamcorper, purus nec interdum aliquet, tellus mi pharetra sem, ac facilisis lacus enim eu sapien.
