= form_for @match do |f|
  - if @match.errors.any?
    #error_explanation
      %h2= "#{pluralize(@match.errors.count, "error")} prohibited this match from being saved:"
      %ul
        - @match.errors.full_messages.each do |msg|
          %li= msg
  %center.match{'data-id' => @match.id}
    .form-group
      %h4= 'Data'
      .controls
        = f.text_field :date, class: 'form-control datepicker', style: 'width: 150px;'
  .row
    .col-md-4
    .col-md-4
      .row
        .col-md-5
          %div{style: 'float: right'}
            %table
              %tr
                %td= f.collection_select :home_id, @homes, :id, :name, {}, {class: 'selectpicker home', style: 'float: right;'}
                %td= f.number_field :home_score, min: 0, class: 'form-control home-score',
                                                          style: 'width: 60px; margin-left: 20px;'
            %br
            %div.home-scorers{style: 'float: right;'}
        .col-md-2
          %center
            %h3{style: 'margin-top: 2px;'}= ':'
        .col-md-5
          %table
            %tr
              %td= f.number_field :visitor_score, min: 0, class: 'form-control visitor-score',
                                                          style: 'width: 60px; margin-right: 20px;'
              %td= f.collection_select :visitor_id, @visitors, :id, :name, {}, {class: 'selectpicker visitor'}
          %br
          %div.visitor-scorers
    .col-md-4

  %br
  .actions
    - if current_user.is_admin
      = f.submit 'Zapisz', :class => 'btn btn-primary', :style => 'color: white;', :name => 'commit'
    = f.submit 'Przekaż do weryfikacji', :class => 'btn btn-success', :style => 'color: white;', :name => 'commit'
