.page-header
  %h1
    .label.label-default= 'Miasto'
    = @town.name

%p
  %b= 'Zarejestrowanych graczy: '
  = @town.users.count
%p
  %b= 'Zarejestrowanych lig: '
  = @town.leagues.count
%p
  %b= 'Zarejestrowanych drużyn: '
  = @town.teams.count

- if current_user.is_admin
  = link_to 'Edytuj', edit_town_path(@town), :class => 'btn btn-default'
= link_to 'Wstecz', :back, :class => 'btn btn-default'
