%html
  %head
    %title Kopacze
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %div.navbar.navbar-inverse.navbar-fixed-top
      %div.navbar-inner
        .container
          %div.navbar-header

            .navbar-toogle{'data-target' => '.navbar-collapse', 'data-toggle' => 'collapse'}
              - if user_signed_in? and current_user.is_admin == false
                %span.icon-bar
              - if user_signed_in? and current_user.team != nil
                %span.icon-bar
              %span.icon-bar

            = link_to 'Kopacze', root_url, :class => 'navbar-brand'

          %div.collapse.navbar-collapse.navbar-right
            %ul.nav.navbar-nav
              - if user_signed_in?
                - if current_user.is_admin
                  %li= link_to 'Panel administracyjny', users_path

                - if current_user.team != nil
                  %li.dropdown
                    = link_to '#', {class: 'dropdown-toggle', 'data-toggle' => 'dropdown'} do
                      = current_user.team.name
                      %span.caret
                    %ul.dropdown-menu
                      %li= link_to 'Profil drużyny', team_path(current_user.team)
                      - if current_user.team.league != nil
                        %li= link_to 'Liga (' + current_user.team.league.description + ')',
                                                      league_path(current_user.team.league)
                      %li.divider
                      - if current_user != current_user.team.captain
                        %li= link_to 'Opuść drużynę', {:controller => 'teams', :action => 'delete_from_team',
                                :id => current_user.team.id, :player_id => current_user.id, :team => current_user.team},
                                :method => :delete, :data => { :confirm => 'Jesteś pewny?' }
                      - else
                        %li= link_to 'Rozwiąż drużynę', {:controller => 'teams', :action => 'destroy',
                                :id => current_user.team.id, :player_id => current_user.id, :team => current_user.team},
                                :method => :delete, :data => { :confirm => 'Jesteś pewny?' }

                %li.dropdown
                  = link_to '#', {class: 'dropdown-toggle', 'data-toggle' => 'dropdown'} do
                    = current_user.full_name
                    %span.caret
                  %ul.dropdown-menu
                    %li= link_to 'Profil gracza', user_path(current_user)
                    %li.divider
                    %li= link_to 'Edytuj konto', edit_user_registration_path
                    %li= link_to 'Wyloguj się', destroy_user_session_path , :method => :delete
              - else
                %li= link_to 'Zaloguj się', new_user_session_path
                %li= link_to 'Zarejestruj się', new_user_registration_path

    .container
      - if notice
        %p.alert.alert-success= notice
      - if alert
        %p.alert.alert-danger= alert

      = yield